html {
    scroll-behavior: smooth;
}

body {
    background-color: #3B6978;
}

h1 {
    color: #84A9AC;
    font-family: 'Trebuchet MS';
    font-size: 100px;
    text-align: center;
    margin: auto;
}

nav {
    position: sticky;
    top: 10px;
}

.undertext {
    color: #CAE8D5;
    text-align: center;
    margin: auto;
    font-family: 'Trebuchet MS';
    font-size: 30px;
}

.nav-container {
    justify-content: space-between;
    display: flex;
    padding: 10px;
    margin: 10px;
    background-color: #204051;
    border: solid black 2px;
    border-radius: 5px;
}

.navbar-font {
    margin: inherit;
    font-family: 'Trebuchet MS';
    font-size: 20px;
    color: #CAE8D5;

}

.button-projects {
    text-decoration: none;
    margin: inherit;
    font-family: 'Trebuchet MS';
    font-size: 20px;
    color: #CAE8D5;
}

.image1 {
    border-style: solid;
    border-width: 2px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.image2 {
    border-style: solid;
    border-width: 2px;
    margin-top: 20px;
    margin-right: 100px;
    margin-left: auto;
    display: flex;
    width: 300px;
    height: 300px;
}

.image3 {
    border-style: solid;
    border-width: 2px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 100px;
    display: flex;
    width: 300px;
    height: 300px;
}

.image4 {
    border-style: solid;
    border-width: 2px;
    margin-top: 20px;
    margin-right: 2px;
    margin-left: 2px;
    display: flex;
    width: 300px;
    height: 300px;
}

.overmijtext {
    color: #CAE8D5;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    font-family: 'Trebuchet MS';
    font-size: 50px;
}

.overmijondertext {
    color: #CAE8D5;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-family: 'Trebuchet MS';
    font-size: 25px;
}

.image-text-container {
    width: 800px;
    margin: auto;
    background-color: #204051;
}

.ervaring-container {
    display: flex;
}

.ervaring-ondertext {
    color: #CAE8D5;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-family: 'Trebuchet MS';
    font-size: 25px;
}

.ervaring-text-container {
    width: 800px;
    margin: auto;
    background-color: #204051;
}

.ervaring-headertext {
    color: #CAE8D5;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    font-family: 'Trebuchet MS';
    font-size: 50px;
}

.trailer {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 100px;
    display: flex;
    width: 300px;
    height: 300px;
}

.script-showcase-container {
    margin-top:20px;
    display: flex;
}

.highlights-ondertext {
    color: #CAE8D5;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-family: 'Trebuchet MS';
    font-size: 25px;
}

.highlights-text-container {
    width: 1150px;
    margin: auto;
    background-color: #204051;
}

.bar-container {
    margin-top: 50px;
    background-color: #204051;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 20px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    background-color: #ddd;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.csharp {
    padding-right: 10px;
    color: #CAE8D5;
    font-family: 'Trebuchet MS';
    width: 90%;
    background-color: #04AA6D;
}
.html {
    padding-right: 10px;
    color: #CAE8D5;
    font-family: 'Trebuchet MS';
    width: 75%;
    background-color: #2196F3;
}
.css {
    padding-right: 10px;
    color: #CAE8D5;
    font-family: 'Trebuchet MS';
    width: 70%;
    background-color: #f44336;
}
.python {
    padding-right: 10px;
    color: #CAE8D5;
    font-family: 'Trebuchet MS';
    width: 50%;
    background-color: #808080;
}

.csharp-text {
    color: #CAE8D5;
    font-family: 'Trebuchet MS';
    margin: auto;
    text-align: center;
    font-size: 40px;
}

.css-text {
    color: #CAE8D5;
    font-family: 'Trebuchet MS';
    margin: auto;
    text-align: center;
    font-size: 40px;
}

.html-text {
    color: #CAE8D5;
    font-family: 'Trebuchet MS';
    margin: auto;
    text-align: center;
    font-size: 40px;
}

.python-text {
    color: #CAE8D5;
    font-family: 'Trebuchet MS';
    margin: auto;
    text-align: center;
    font-size: 40px;
}
